body {
  background-color: #404;
  background-image: url(2d6da29e36108e2e48f3a577df7dc681.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

